@using ActivityCheck.Domain.Entity;
@model IEnumerable<Activity>

<link rel="stylesheet" href="~/css/GetActivitiesByDate/ActivityCard.css" />
@foreach(var act in Model)
{

    var durationInHour = act.DurationInSec / 60 / 60;
    var durationMinutes = (act.DurationInSec / 60) - durationInHour * 60;
    string formatDuration = $"{durationInHour}h:{durationMinutes}m";
    string formatDate = $"{act.Created.Day}:{act.Created.Month}:{act.Created.Year}";

<div class="activity-card-container">
        <div class="activity-card-card">
            <div class="activity-card-name">
                <h2 class="activity-card-text">@act.Name</h2>
            </div>
            <div class="activity-card-duration"><span>Длительность: @formatDuration</span></div>
            <div class="activity-card-description"><span>Описание: @act.Description </span></div>
            <div class="activity-card-buttons">
                <button id="delBtn" actId="@act.Id" type="button" class="activity-card-delete-button button">
                    Удалить
                </button>
                <button type="button" class="activity-card-edit-button button">
                    Изменить
                </button>
            </div>
            <div class="activity-card-container1"><span>@formatDate</span></div>
        </div>
    </div>
}

<script type="text/javascript">
    const deleteBtn = $("#delBtn");

    deleteBtn.Click = DelBtnClick;

    function DelBtnClick(){

    }

</script>
